<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210002677499-kua7l92cvdv4p8q6nmssa71dkqdhhtcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210002677499-kua7l92cvdv4p8q6nmssa71dkqdhhtcg</string>
	<key>API_KEY</key>
	<string>AIzaSyA3MctFnxBPoxt2LnDYHHU-GAemdG8A-Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>210002677499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smithyboi.CommonGround</string>
	<key>PROJECT_ID</key>
	<string>commonground-c4949</string>
	<key>STORAGE_BUCKET</key>
	<string>commonground-c4949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210002677499:ios:9e341cd9674fdbfac22a5e</string>
</dict>
</plist>